.im-benefits {
  padding: var(--section-y) 0;
  position: relative;
  overflow: hidden;
  &__bg {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
    z-index: -1;
    img {
      width: 1920rem;
      height: auto;
      display: block;
    }
  }
  &__container {
  }
  &__content {
    max-width: 554rem;
    margin: 0 auto;
    text-align: center;
    @media (max-width: $sm) {
      max-width: 100%;
      text-align: left;
    }
    &.--mw {
      &-md {
        max-width: 584rem;
        @media (max-width: $xs) {
          max-width: 100%;
        }
      }
    }
  }
  &__title {
    margin: 0 0 12rem;
  }
  &__text {
    margin: 0 -20rem 40rem;
    line-height: $lineHeight8;
    color: $greyDescColor;
    @media (max-width: $sm) {
      margin: 0 0 24rem;
    }
    &.--mw {
      &-md {
        margin-right: 30rem;
        margin-left: 30rem;
        @media (max-width: $xs) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
  &__list {
    @media (max-width: $sm) {
      margin: 0 -16rem -40rem;
      padding: 0 10rem 40rem;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    &-col {
      @media (max-width: $sm) {
        max-width: unset;
        flex: 0;
      }
    }
    &-card {
      height: 100%;
      @media (max-width: $sm) {
        width: 280rem;
      }
    }
  }
  &__footer {
    margin-top: 40rem;
    display: flex;
    justify-content: center;
    @media (max-width: $sm) {
      margin-top: 24rem;
    }
    &-btn {
    }
  }
  &__improve {
    &-row {
      @media (max-width: $md) {
      }
    }
    &-col {
      &--list {
        @media (max-width: $md) {
          flex-grow: 1;
          max-width: initial;
          margin: var(--gap-fluid) -10rem -40rem;
          padding: 0 16rem 40rem;
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
        }
      }
      &--hero {
        @media (max-width: $md) {
          max-width: 100%;
          flex-basis: 100%;
          order: -1;
        }
      }
    }
    &-card {
      border: none;
      flex-shrink: 0;
      @media (max-width: $md) {
        width: 280rem;
      }
      & + & {
        margin-top: var(--gap-fluid);
        @media (max-width: $md) {
          margin-top: 0;
          margin-left: var(--gap-fluid);
        }
      }
      .u-content {
      }
    }
    &-media {
      background: $whiteColor;
      height: 100%;
      padding: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: $radiusExs;
      border: none;
      box-shadow: $boxShadowBLack2;
      @media (max-width: $md) {
        padding: 12rem;
      }
    }
    &-hero {
      border: 1px solid rgba($greyDescColor, .25);
      border-radius: $radiusExs;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
  &__appeal {
    background: linear-gradient(97.84deg, rgba($whiteColor, .55) 0%, rgba($whiteColor, .2) 100%);
    margin: 0 0 var(--gap-fluid);
    backdrop-filter: blur(10px);
    border-radius: $radiusExs;
    box-shadow: 0 5px 20px rgba($blackColor, .1);
    &-title {
      max-width: 540rem;
      margin: 0 auto;
      padding: 24rem;
      text-align: center;
      @media (max-width: $sm) {
        text-align: left;
      }
    }
  }
}