.im-benefits {
  padding: var(--section-y) 0;
  position: relative;
  overflow: hidden;
  &__bg {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
    z-index: -1;
    img {
      width: 1920rem;
      height: auto;
      display: block;
    }
  }
  &__container {
  }
  &__content {
    max-width: 554rem;
    margin: 0 auto;
    text-align: center;
    @media (max-width: $sm) {
      max-width: 100%;
      text-align: left;
    }
  }
  &__title {
    margin: 0 0 12rem;
  }
  &__text {
    margin: 0 -20rem 40rem;
    line-height: $lineHeight8;
    color: $greyDescColor;
    @media (max-width: $sm) {
      margin: 0 0 24rem;
    }
  }
  &__list {
    @media (max-width: $sm) {
      margin: 0 -16rem -40rem;
      padding: 0 10rem 40rem;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    &-col {
      @media (max-width: $sm) {
        max-width: unset;
        flex: 0;
      }
    }
    &-card {
      height: 100%;
      @media (max-width: $sm) {
        width: 280rem;
      }
    }
  }
  &__footer {
    margin-top: 40rem;
    display: flex;
    justify-content: center;
    &-btn {
    }
  }
}