.im-intro {
  padding: 18rem 0 0;
  position: relative;
  overflow: hidden;
  @media (max-width: $sm) {
    padding-top: 12rem;
  }
  &__bg {
    margin: 0 auto;
    position: absolute;
    bottom: -30rem;
    right: -20rem;
    left: -20rem;
    pointer-events: none;
    user-select: none;
    z-index: -1;
    img {
      width: 1936rem;
      height: auto;
      margin: 0 auto;
      display: block;
      position: relative;
      left: 37rem;
    }
  }
  &__container {
  }
  &__avatar {
    background: linear-gradient(97.84deg, rgba($whiteColor, 0.55) 0%, rgba($whiteColor, 0.2) 100%);
    margin: 20rem 0 var(--section-y);
    backdrop-filter: blur(10px);
    border-radius: $radiusSm;
    box-shadow: 0 10px 40px rgba($blackColor, .1);
    @media (max-width: $sm) {
      margin-top: 12rem;
      padding: 24rem 12rem;
      border-radius: 12rem;
    }
    &-btn-group {
      @media (max-width: $sm) {
        display: flex;
        justify-content: center;
      }
    }
    &-row {
      justify-content: space-between;
      align-items: center;
    }
    &-content {
      margin-left: $col;
      padding-top: 80rem;
      padding-bottom: 80rem;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: $lg) {
        margin-left: 24rem;
      }
      @media (max-width: $sm) {
        max-width: 100%;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        flex: 0 0 100%;
      }
      .u-content {
      }
    }
    &-media {
      margin-right: $col;
      position: relative;
      z-index: 0;
      @media (max-width: $sm) {
        max-width: 100%;
        margin-right: 0;
        flex: 0 0 100%;
      }
      &:before {
        @media (min-width: $sm-mf) {
          background: $accentColor;
          filter: blur(20px);
          width: 280rem;
          height: 280rem;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          opacity: .7;
          transform: translate(-50%, -50%);
          z-index: -1;
        }
        @media (min-width: $md-mf) {
          width: 380rem;
          height: 380rem;
        }
      }
    }
    &-video {
      max-width: 240rem;
      margin: -24rem auto;
      position: relative;
      @media (max-width: $sm) {
        max-width: 100%;
        margin: 0 0 24rem;
        padding: 0 0 86.8421052632%;
      }
      &-mask {
        @extend %img-contain;
        padding: 0 0 200%;
        user-select: none;
        pointer-events: none;
        overflow: hidden;
        @media (max-width: $sm) {
          display: none;
        }
      }
      &-el {
        width: calc(100% - 12rem);
        height: calc(100% - 12rem);
        margin: 0;
        position: absolute;
        top: 6rem;
        left: 6rem;
        border-radius: 30rem;
        object-fit: cover;
        z-index: -1;
        @media (max-width: $sm) {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 24rem;
        }
      }
    }
  }
  &__services-bg {
    margin: 0 0 var(--section-y);
    @media (max-width: $lg) {
    }
    @media (max-width: $sm) {
    }
    &-row {
      justify-content: space-between;
    }
    &-col-content,
    &-col-media {
      display: flex;
      @media (max-width: $sm) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    &-col-media {
      @media (max-width: $sm) {
        order: -1;
      }
    }
    &-content,
    &-media {
      background: linear-gradient(97.84deg, rgba($whiteColor, 0.55) 0%, rgba($whiteColor, 0.2) 100%);
      backdrop-filter: blur(10px);
      width: 100%;
      flex-basis: 100%;
      border-radius: $radiusSm;
      box-shadow: 0 10px 40px rgba($blackColor, .1);
      overflow: hidden;
    }
    &-content {
      display: flex;
      padding: var(--section-y) 48rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      @media (max-width: $lg) {
        padding: 36rem 24rem;
      }
      @media (max-width: $sm) {
        padding: 24rem 12rem;
      }
    }
    &-media {
      @media (max-width: $sm) {
        margin-bottom: var(--gap-fluid);
      }
    }
    &-video {
      height: 100%;
      position: relative;
      @media (max-width: $sm) {
        height: initial;
        padding: 0 0 131.707317073%;
      }
      &-el {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        @media (max-width: $sm) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  &__inner {
    margin: 0 var(--gap-container-);
    padding: 0 var(--gap-container);
    overflow: hidden;
  }
  &__content {
    max-width: 640rem;
    margin: 0 auto;
    text-align: center;
    @media (max-width: $sm) {
      max-width: initial;
      margin: 0 var(--gap-container-);
      padding: 0 var(--gap-container) 60rem;
      text-align: left;
      overflow: hidden;
    }
  }
  &__title {
    max-width: 520rem;
    margin: 0 auto;
    @media (max-width: $sm) {
      max-width: 100%;
    }
    &-wrapper {
      margin: 0 0 12rem;
    }
  }
  &__text {
    margin: 0 0 36rem;
    line-height: $lineHeight8;
    color: $greyDescColor;
    @media (max-width: $sm) {
      margin-bottom: 24rem;
    }
  }
  &__btn-group {
    margin: 0 0 68rem;
    display: inline-flex;
    @media (max-width: $sm) {
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
    }
  }
  &__media {
    background: rgba($whiteColor, .25);
    backdrop-filter: blur(20px);
    margin: 0 0 -49rem;
    padding: 24rem;
    border-radius: $radiusMd;
    position: relative;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
    &:before {
      @media (min-width: $sm-mf) {
        background: linear-gradient(180deg, rgba($accentColor, .05) 0%, rgba($accentColor, .15) 100%);
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
  &__hero {
    display: block;
    border-radius: $radiusXs;
    overflow: hidden;
    @media (max-width: $sm) {
      margin: 0 var(--gap-container-) -144rem;
      padding: 0 var(--gap-container);
      border-radius: 0;
      position: relative;
    }
    &:before {
      @media (max-width: $sm) {
        background: linear-gradient(180deg, rgba($whiteColor, 0) 0%, $whiteColor 96%);
        content: '';
        position: absolute;
        top: -50rem;
        right: 0;
        bottom: 20rem;
        left: 0;
      }
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__improve {
    margin-bottom: var(--section-y);
    padding: 48rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 36rem;
    border-radius: $radiusSm;
    border: none;
    box-shadow: 0 5px 20px rgba($blackColor, .1);
    @media (max-width: $sm) {
      padding: 24rem var(--gap-container);
      flex-wrap: wrap;
      border-radius: $radiusExs;
    }
    &-content,
    &-media {
      max-width: calc(50% - 18rem);
      flex: 0 0 calc(50% - 18rem);
      @media (max-width: $sm) {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
    &-content {
      .u-content {
        max-width: 500rem;
        @media (max-width: $sm) {
          max-width: 100%;
        }
      }
    }
    &-btn-group {
      @media (max-width: $sm) {
        margin-top: 24rem;
        display: flex;
        justify-content: center;
      }
    }
    &-media {
    }
    &-video {
      padding: 0 0 64.1221374046%;
      border-radius: $radiusSm;
      position: relative;
      overflow: hidden;
      @media (max-width: $sm) {
        padding-bottom: 86.8421052632%;
        border-radius: $radiusExs;
      }
      &-el {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
  &__face {
    margin-bottom: var(--section-y);
    padding: 30rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--gap-fluid);
    @media (max-width: $sm) {
      padding: 12rem 0 0;
      flex-wrap: wrap;
    }
    &-content,
    &-media {
      max-width: calc(50% - var(--gap));
      flex: 0 0 calc(50% - var(--gap));
      @media (max-width: $sm) {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
    &-content {
      max-width: 500rem;
      .u-content {
        max-width: 500rem;
        @media (max-width: $sm) {
          max-width: 100%;
        }
      }
    }
    &-btn-group {
      @media (max-width: $sm) {
        margin-top: 24rem;
        display: flex;
        justify-content: center;
      }
    }
    &-media {
    }
    &-hero {
      margin-right: -21rem;
      @media (max-width: $sm) {
        margin-right: -3vw;
        margin-top: -8rem;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}