.im-tools {
  background: $whiteColor;
  padding: var(--section-y) 0;
  position: relative;
  overflow: hidden;
  &__container {
  }
  &__content {
    max-width: 610rem;
    margin: 0 auto;
    text-align: center;
    @media (max-width: $sm) {
      max-width: 100%;
      text-align: left;
    }
  }
  &__title { 
    margin: 0 0 12rem;
  }
  &__text {
    margin: 0 0 40rem;
    line-height: $lineHeight8;
    color: $greyDescColor;
    @media (max-width: $sm) {
      margin-bottom: 24rem;
    }
  }
  &__list {
    margin-bottom: var(--gap-fluid-);
    padding-bottom: 40rem;
    @media (max-width: $sm) {
      padding-bottom: 24rem;
    }
    &-col {
      margin-bottom: var(--gap-fluid);
      @media (max-width: $sm) {
        max-width: unset;
        flex-basis: 50%;
        flex-grow: 1;
      }
      @media (max-width: $xxs) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    &-card {
      height: 100%;
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    &-btn {
    }
  }
}