<section id="audiences" class="im-audiences">
  <picture class="im-audiences__bg">
    <img
      src="images/features-bg.svg"
      alt="Assistant AI — для всех, кто ценит креативность"
      width="1920"
      height="1162">
  </picture>
  <div class="container container--size-md im-audiences__container">
    <div class="im-audiences__content">
      <h2 class="im-audiences__title"><span class="color-accent">Assistant&nbsp;AI</span> — для тех,<br>кто хочет выразить себя</h2>
      <div class="u-content im-audiences__text">
        <p>Фотографы, дизайнеры, художники и просто любители — вы найдёте здесь всё, что нужно для создания ярких визуальных решений</p>
      </div>
    </div>
    <div class="row im-audiences__list">
      <div class="row__col--3 im-audiences__list-col">
        <article class="im-audiences-card im-audiences__list-card">
          <picture class="im-audiences-card__picture">
            <!--<source
              srcset="images/audiences-card-1.webp 1x, images/audiences-card-1@2x.webp 2x"
              type="image/webp">-->
            <img
              src="images/audiences-card-1.jpg"
              srcset="images/audiences-card-1.jpg 1x, images/audiences-card-1@2x.jpg 2x"
              width="356"
              height="220"
              alt="Фрилансеры">
          </picture>
          <div class="im-audiences-card__content">
            <h3 class="im-audiences-card__title">Фрилансеры</h3>
          </div>
        </article>
      </div>
      <div class="row__col--3 im-audiences__list-col">
        <article class="im-audiences-card im-audiences__list-card">
          <picture class="im-audiences-card__picture">
            <!--<source
              srcset="images/audiences-card-2.webp 1x, images/audiences-card-2@2x.webp 2x"
              type="image/webp">-->
            <img
              src="images/audiences-card-2.jpg"
              srcset="images/audiences-card-2.jpg 1x, images/audiences-card-2@2x.jpg 2x"
              width="356"
              height="220"
              alt="Художники">
          </picture>
          <div class="im-audiences-card__content">
            <h3 class="im-audiences-card__title">Художники</h3>
          </div>
        </article>
      </div>
      <div class="row__col--3 im-audiences__list-col">
        <article class="im-audiences-card im-audiences__list-card">
          <picture class="im-audiences-card__picture">
            <!--<source
              srcset="images/audiences-card-3.webp 1x, images/audiences-card-3@2x.webp 2x"
              type="image/webp">-->
            <img
              src="images/audiences-card-3.jpg"
              srcset="images/audiences-card-3.jpg 1x, images/audiences-card-3@2x.jpg 2x"
              width="356"
              height="220"
              alt="Мультипликаторы">
          </picture>
          <div class="im-audiences-card__content">
            <h3 class="im-audiences-card__title">Мультипликаторы</h3>
          </div>
        </article>
      </div>
      <div class="row__col--3 im-audiences__list-col">
        <article class="im-audiences-card im-audiences__list-card">
          <picture class="im-audiences-card__picture">
            <!--<source
              srcset="images/audiences-card-4.webp 1x, images/audiences-card-4@2x.webp 2x"
              type="image/webp">-->
            <img
              src="images/audiences-card-4.jpg"
              srcset="images/audiences-card-4.jpg 1x, images/audiences-card-4@2x.jpg 2x"
              width="356"
              height="220"
              alt="Контент-менеджеры">
          </picture>
          <div class="im-audiences-card__content">
            <h3 class="im-audiences-card__title">Контент-менеджеры</h3>
          </div>
        </article>
      </div>
      <div class="row__col--3 im-audiences__list-col">
        <article class="im-audiences-card im-audiences__list-card">
          <picture class="im-audiences-card__picture">
            <!--<source
              srcset="images/audiences-card-5.webp 1x, images/audiences-card-5@2x.webp 2x"
              type="image/webp">-->
            <img
              src="images/audiences-card-5.jpg"
              srcset="images/audiences-card-5.jpg 1x, images/audiences-card-5@2x.jpg 2x"
              width="356"
              height="220"
              alt="Фотографы">
          </picture>
          <div class="im-audiences-card__content">
            <h3 class="im-audiences-card__title">Фотографы</h3>
          </div>
        </article>
      </div>
      <div class="row__col--3 im-audiences__list-col">
        <article class="im-audiences-card im-audiences__list-card">
          <picture class="im-audiences-card__picture">
            <!--<source
              srcset="images/audiences-card-6.webp 1x, images/audiences-card-6@2x.webp 2x"
              type="image/webp">-->
            <img
              src="images/audiences-card-6.jpg"
              srcset="images/audiences-card-6.jpg 1x, images/audiences-card-6@2x.jpg 2x"
              width="356"
              height="220"
              alt="Дизайнеры">
          </picture>
          <div class="im-audiences-card__content">
            <h3 class="im-audiences-card__title">Дизайнеры</h3>
          </div>
        </article>
      </div>
      <div class="row__col--3 im-audiences__list-col">
        <article class="im-audiences-card im-audiences__list-card">
          <picture class="im-audiences-card__picture">
            <!--<source
              srcset="images/audiences-card-7.webp 1x, images/audiences-card-7@2x.webp 2x"
              type="image/webp">-->
            <img
              src="images/audiences-card-7.jpg"
              srcset="images/audiences-card-7.jpg 1x, images/audiences-card-7@2x.jpg 2x"
              width="356"
              height="220"
              alt="SMM-специалисты">
          </picture>
          <div class="im-audiences-card__content">
            <h3 class="im-audiences-card__title">SMM-специалисты</h3>
          </div>
        </article>
      </div>
      <div class="row__col--3 im-audiences__list-col">
        <article class="im-audiences-card im-audiences__list-card">
          <picture class="im-audiences-card__picture">
            <!--<source
              srcset="images/audiences-card-8.webp 1x, images/audiences-card-8@2x.webp 2x"
              type="image/webp">-->
            <img
              src="images/audiences-card-8.jpg"
              srcset="images/audiences-card-8.jpg 1x, images/audiences-card-8@2x.jpg 2x"
              width="356"
              height="220"
              alt="Любители">
          </picture>
          <div class="im-audiences-card__content">
            <h3 class="im-audiences-card__title">Любители</h3>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>