<section id="faq" class="im-faq">
  <div class="container container--size-md im-faq__container">
    <h2 class="im-faq__title">Часто задаваемые вопросы</h2>
    <div itemscope itemtype="https://schema.org/FAQPage" class="im-faq__list">
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Что такое Assistant AI?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Assistant AI — это мощная нейросеть, которая помогает вам создавать уникальные изображения, удалять фон, улучшать качество фото и многое другое. Она интуитивно понимает ваши запросы и выполняет их всего за несколько секунд.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Какие функции поддерживает Assistant AI?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Assistant AI позволяет:</p>
              <ul>
                <li>Создавать изображения по описанию (генерация изображений).</li>
                <li>Удалять фон с фотографий.</li>
                <li>Улучшать качество фотографий (увеличение разрешения, улучшение чёткости).</li>
                <li>Применять фильтры и стили к изображениям.</li>
                <li>Генерировать визуальные эффекты и композиции по заданным параметрам.</li>
              </ul>
            </div>
          </div>
        </div>
      </article>
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Как использовать функцию генерации изображений?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Для создания изображения достаточно ввести текстовое описание, выбрать настройки (цветовую гамму, стиль) и нажать на кнопку генерации. Нейросеть Assistant AI создаст изображение за несколько секунд, исходя из ваших пожеланий.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Как удалить фон с фотографии?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Загрузите изображение, выберите функцию «Удаление фона», и нейросеть автоматически вырежет объект, оставив его без фона. Вы можете скачать результат в формате PNG или использовать его в других проектах.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Можно ли редактировать созданные изображения?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Да, вы можете внести изменения в сгенерированные изображения. Assistant AI позволяет корректировать цвет, применять стили, добавлять текст и многое другое.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Какие стили доступны для генерации изображений?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Нейросеть поддерживает множество стилей: от реализма и минимализма до футуризма и поп-арта. Вы можете выбрать нужный стиль при генерации изображения или оставить нейросети право автоматически подобрать лучший вариант.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Какой формат файлов поддерживается?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Вы можете загружать и сохранять изображения в популярных форматах, таких как PNG, JPEG и TIFF.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Можно ли улучшить качество фото с низким разрешением?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Да, Assistant AI позволяет увеличивать разрешение изображений, улучшая чёткость и детализацию без потери качества. Это особенно полезно для старых или сжатых фотографий.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Как быстро работает нейросеть?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Время обработки обычно занимает от нескольких секунд до минуты, в зависимости от сложности задачи и выбранных параметров.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Какие требования к устройству для работы с Assistant AI?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Assistant AI работает в любом современном браузере, поддерживающем интернет-соединение. Нет необходимости устанавливать дополнительное ПО, и работа возможна как на настольных компьютерах, так и на мобильных устройствах.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="im-faq-card im-faq__list-card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="im-faq-card__header">
          <button type="button" class="js-im-faq-card-toggle im-faq-card__btn">
            <h3 itemprop="name" class="fs-6 im-faq-card__title">Можно ли использовать Assistant AI для коммерческих целей?</h3>
          </button>
          <div class="im-faq-card__icon">
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#plus"></use>
            </svg>
            <svg class="u-icon">
              <use xlink:href="images/icons/icons.svg#minus"></use>
            </svg>
          </div>
        </div>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer" class="im-faq-card__dropdown">
          <div class="im-faq-card__inner">
            <div class="u-content im-faq-card__text">
              <p>Да, изображения, созданные с помощью Assistant AI, могут использоваться в коммерческих проектах, в зависимости от выбранного тарифа. Рекомендуем ознакомиться с условиями использования на странице тарифов.</p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>