<footer class="@@el footer">
  <picture class="footer__assistant-ai-text">
    <img src="images/assistant-ai-text.svg" width="1172" height="154" alt="Optimal AI">
  </picture>
  <div class="container container--size-md footer__container">
    <div class="row footer__row">
      <div class="row__col footer__col footer__col--logo">
        <a href="#intro" class="js-anchor logo footer__logo">
          <picture class="logo__picture">
            <img src="images/logo-type-2.svg" width="156" height="32" alt="Assistant AI">
          </picture>
        </a>
      </div>
      <div class="row__col footer__col footer__col--nav">
        <nav class="u-nav u-nav--theme-white footer__nav" role="navigation">
          <ul class="u-nav__list">
            <li class="u-nav__item">
              <a href="#features" class="js-anchor u-nav__link">Возможности</a>
            </li>
            <li class="u-nav__item">
              <a href="#audiences" class="js-anchor u-nav__link">Для кого</a>
            </li>
            <li class="u-nav__item">
              <a href="#reviews" class="js-anchor u-nav__link">Отзывы</a>
            </li>
            <li class="u-nav__item">
              <a href="#faq" class="js-anchor u-nav__link">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row__col footer__col footer__col--action">
        <a href="#" class="btn btn--theme-accent-fill btn--size-md footer__btn-appeal">
          <span class="btn__inner">
            <span class="btn__title">Регистрация</span>
          </span>
        </a>
      </div>
    </div>
    <p class="footer__copyright">© 2024 Optimal AI. &nbsp;<br class="d-md-none">Все права защищены</p>
  </div>
</footer>