<section id="reviews" class="im-reviews --bsh-black">
  <div class="container container--size-md im-reviews__container">
    <div class="im-reviews__content">
      <h2 class="im-reviews__title">Пользователи выбирают нас</h2>
      <div class="u-content im-reviews__text">
        <p>Сотни пользователей по всему миру доверяют Assistant&nbsp;AI для создания своих лучших работ. Присоединяйтесь к&nbsp;нам и&nbsp;убедитесь в&nbsp;этом&nbsp;сами!</p>
      </div>
    </div>
    <picture class="im-reviews__circle">
      <source
        srcset="images/reviews-circle.webp 1x, images/reviews-circle@2x.webp 2x"
        type="image/webp">
      <img
        src="images/reviews-circle.png"
        srcset="images/reviews-circle.png 1x, images/reviews-circle@2x.png 2x"
        width="300"
        height="300"
        alt="Пользователи выбирают нас">
    </picture>
    <div class="js-im-reviews-slider-init swiper im-reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="im-reviews-card im-reviews__slider-card">
            <div class="im-reviews-card__inner">
              <div class="u-content im-reviews-card__text">
                <p>Прекрасный сервис для всех творческих людей! Я использую его для создания уникальных картинок для своих проектов. Все функции работают отлично, а результаты всегда радуют глаз!</p>
              </div>
              <div class="im-reviews-card__header">
                <div class="im-reviews-card__user">
                  <h3 class="fs-4 im-reviews-card__title">Анна</h3>
                  <p class="im-reviews-card__position">Веб-дизайнер</p>
                </div>
                <div class="im-reviews-card__info">
                  <div class="u-rating im-reviews-card__rating" style="--rating-progress: 5"></div>
                  <time class="im-reviews-card__date">12 августа</time>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="im-reviews-card im-reviews__slider-card">
            <div class="im-reviews-card__inner">
              <div class="u-content im-reviews-card__text">
                <p>Я в восторге от этого сервиса! Генерация фото происходит мгновенно, а&nbsp;результаты всегда впечатляют. Особенно понравилось, как ИИ удаляет фон — всё выглядит естественно и&nbsp;профессионально!</p>
              </div>
              <div class="im-reviews-card__header">
                <div class="im-reviews-card__user">
                  <h3 class="fs-4 im-reviews-card__title">Алексей</h3>
                  <p class="im-reviews-card__position">Маркетолог</p>
                </div>
                <div class="im-reviews-card__info">
                  <div class="u-rating im-reviews-card__rating" style="--rating-progress: 5"></div>
                  <time class="im-reviews-card__date">02 октября</time>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="im-reviews-card im-reviews__slider-card">
            <div class="im-reviews-card__inner">
              <div class="u-content im-reviews-card__text">
                <p>Использую эту платформу для создания аватаров для социальных сетей. Результаты просто потрясающие! Удобно, быстро и очень качественно. Рекомендую всем, кто хочет выделиться!</p>
              </div>
              <div class="im-reviews-card__header">
                <div class="im-reviews-card__user">
                  <h3 class="fs-4 im-reviews-card__title">Мария</h3>
                  <p class="im-reviews-card__position">Студент</p>
                </div>
                <div class="im-reviews-card__info">
                  <div class="u-rating im-reviews-card__rating" style="--rating-progress: 5"></div>
                  <time class="im-reviews-card__date">27 сентября</time>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="im-reviews-card im-reviews__slider-card">
            <div class="im-reviews-card__inner">
              <div class="u-content im-reviews-card__text">
                <p>Удаление фона — это настоящая находка! Я часто работаю с изображениями для своего блога, и этот инструмент значительно экономит время. Теперь мои фотографии выглядят на высшем уровне!</p>
              </div>
              <div class="im-reviews-card__header">
                <div class="im-reviews-card__user">
                  <h3 class="fs-4 im-reviews-card__title">Игорь</h3>
                  <p class="im-reviews-card__position">Копирайтер</p>
                </div>
                <div class="im-reviews-card__info">
                  <div class="u-rating im-reviews-card__rating" style="--rating-progress: 5"></div>
                  <time class="im-reviews-card__date">25 сентября</time>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="im-reviews-card im-reviews__slider-card">
            <div class="im-reviews-card__inner">
              <div class="u-content im-reviews-card__text">
                <p>Я была приятно удивлена, насколько легко улучшить качество старых фотографий с помощью этого ИИ. Теперь у меня есть отличные воспоминания с детства в высоком разрешении!</p>
              </div>
              <div class="im-reviews-card__header">
                <div class="im-reviews-card__user">
                  <h3 class="fs-4 im-reviews-card__title">Екатерина</h3>
                  <p class="im-reviews-card__position">Домохозяйка</p>
                </div>
                <div class="im-reviews-card__info">
                  <div class="u-rating im-reviews-card__rating" style="--rating-progress: 5"></div>
                  <time class="im-reviews-card__date">11 сентября</time>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="im-reviews-card im-reviews__slider-card">
            <div class="im-reviews-card__inner">
              <div class="u-content im-reviews-card__text">
                <p>Дорисовка картинок — это что-то невероятное! Я использовал эту функцию для своего проекта и остался в полном восторге. ИИ действительно понимает, что нужно добавить, чтобы завершить изображение.</p>
              </div>
              <div class="im-reviews-card__header">
                <div class="im-reviews-card__user">
                  <h3 class="fs-4 im-reviews-card__title">Дмитрий</h3>
                  <p class="im-reviews-card__position">Дизайнер</p>
                </div>
                <div class="im-reviews-card__info">
                  <div class="u-rating im-reviews-card__rating" style="--rating-progress: 5"></div>
                  <time class="im-reviews-card__date">3 сентября</time>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="im-reviews-card im-reviews__slider-card">
            <div class="im-reviews-card__inner">
              <div class="u-content im-reviews-card__text">
                <p>Сервис стал моим настоящим помощником в работе. Генерация изображений и их редактирование проходят без проблем. Теперь я могу сосредоточиться на креативных идеях, а не на технических деталях!</p>
              </div>
              <div class="im-reviews-card__header">
                <div class="im-reviews-card__user">
                  <h3 class="fs-4 im-reviews-card__title">Ольга</h3>
                  <p class="im-reviews-card__position">SMM-специалист</p>
                </div>
                <div class="im-reviews-card__info">
                  <div class="u-rating im-reviews-card__rating" style="--rating-progress: 5"></div>
                  <time class="im-reviews-card__date">29 августа</time>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="im-reviews-card im-reviews__slider-card">
            <div class="im-reviews-card__inner">
              <div class="u-content im-reviews-card__text">
                <p>Я профессиональный фотограф и был скептически настроен по поводу использования ИИ для редактирования. Но этот инструмент меня удивил! Качество изображений стало лучше, а процесс работы — быстрее.</p>
              </div>
              <div class="im-reviews-card__header">
                <div class="im-reviews-card__user">
                  <h3 class="fs-4 im-reviews-card__title">Сергей</h3>
                  <p class="im-reviews-card__position">Фотограф</p>
                </div>
                <div class="im-reviews-card__info">
                  <div class="u-rating im-reviews-card__rating" style="--rating-progress: 5"></div>
                  <time class="im-reviews-card__date">21 августа</time>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-control im-reviews__slider-control">
      <div class="slider-control__inner">
        <button type="button" class="js-im-reviews-slider-btn-prev swiper-button swiper-button-prev swiper-button--theme-accent slider-control__btn">
          prev
          <svg class="u-icon">
            <use xlink:href="images/icons/icons.svg#arrow-type-1"></use>
          </svg>
        </button>
        <button type="button" class="js-im-reviews-slider-btn-next swiper-button swiper-button-next swiper-button--theme-accent slider-control__btn">
          next
          <svg class="u-icon">
            <use xlink:href="images/icons/icons.svg#arrow-type-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>